[Desktop Entry]
Version=1.0
Type=Application
Name=LinuxHello
Comment=Face Authentication Management
Exec=pkexec /usr/bin/linuxhello
Icon=linuxhello
Terminal=false
Categories=Settings;System;Security;
MimeType=
Keywords=face;authentication;login;security;biometric;
StartupNotify=true